{{define "layout/login"}}
<!doctype html>
<html lang="{{.Page.Lang}}">
{{template "partials/document-head" .}}
<body class="auth-layout">
  {{template "content/login" .}}
  {{template "partials/document-scripts" .}}
</body>
</html>
{{end}}

{{define "layout/error"}}
<!doctype html>
<html lang="{{.Page.Lang}}">
{{template "partials/document-head" .}}
<body class="auth-layout">
  {{template "content/error" .}}
  {{template "partials/document-scripts" .}}
</body>
</html>
{{end}}
