{{define "layout/sessions"}}
{{template "shell/dashboard-start" .}}
{{template "content/sessions" .}}
{{template "shell/dashboard-end" .}}
{{end}}

{{define "layout/users"}}
{{template "shell/dashboard-start" .}}
{{template "content/users" .}}
{{template "shell/dashboard-end" .}}
{{end}}

{{define "layout/permissions"}}
{{template "shell/dashboard-start" .}}
{{template "content/permissions" .}}
{{template "shell/dashboard-end" .}}
{{end}}

{{define "layout/roles"}}
{{template "shell/dashboard-start" .}}
{{template "content/roles" .}}
{{template "shell/dashboard-end" .}}
{{end}}

{{define "layout/companies"}}
{{template "shell/dashboard-start" .}}
{{template "content/companies" .}}
{{template "shell/dashboard-end" .}}
{{end}}

{{define "layout/company-detail"}}
{{template "shell/dashboard-start" .}}
{{template "content/company-detail" .}}
{{template "shell/dashboard-end" .}}
{{end}}

{{define "layout/company-form"}}
{{template "shell/dashboard-start" .}}
{{template "content/company-form" .}}
{{template "shell/dashboard-end" .}}
{{end}}
